{% extends 'base.html.twig' %}


{% block title %}Fabrice auto
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-6 col-lg-8">.col-sm-6 .col-lg-8</div>
		<div class="col-6 col-lg-4">.col-6 .col-lg-4</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
		<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
		<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
	</div>
{% endblock %}
