{% extends 'base.html.twig' %}


{% block title %}Fabrice auto
{% endblock %}

{% block body %}

	<body style="height:90vh">
		<div class="container mt-3" style="height:90%;background-color">
			<div class="row">
				<div class="col-md-6">
					<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" style="width:200px;height:100px">
								<img src="{{ asset('images/prez.jpeg') }} " style="width:80%" alt="presentation">
							</div>


							<div class="carousel-item ">
								<img src="{{ asset('images/prez.jpeg') }}" style="width:80%" alt="presentation">
							</div>


							<div class="carousel-item ">
								<img src="{{ asset('images/prez.jpeg') }}" style="width:80%" alt="presentation">
							</div>


							<div class="carousel-item ">
								<img src="{{ asset('images/prez.jpeg') }}" style="width:80%" alt="presentation">
							</div>


						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="col-md-6 pt-2">
					présentation 1


				</div>
			</div>


			<div class="row">
				<div class="col-md-6 pt-2">
					Présentation 2
				</div>
				<div class="col-md-6 pt-2">
					Présentation 3
				</div>


			</div>
		</div>


	</body>

{% endblock %}
