/* .body {
  height: 100wh;
  width: 100vw;
} */
.photo {
  display:flex;
  flex-wrap: wrap;
  
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* responsive  */
@media screen and (max-width: 360px) {
#productShow{
flex-direction: column !important;
justify-content:space-between !important ;

}
#productCard{
margin-top: 5px;
margin-bottom: 15px;
  
  }



}