.footer {
  background-color:#E45826;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  padding: 30px;
  color: black;
}
