{% extends 'base.html.twig' %}


{% block title %}Fabrice auto
{% endblock %}

{% block body %}


	<body style="background-color:grey;height:90vh">
		<div class="container mt-3" style="height:90%;background-color:green">
			<div class="row">
				<div class="col-md-6">

					marque 1
				</div>

				<div class="col-md-6 pt-2">
					marques 2


				</div>
			</div>


			<div class="row">
				<div class="col-md-6 pt-2">
					marques 3
				</div>
				<div class="col-md-6 pt-2">
					marques 4
				</div>


			</div>
		</div>


	</body>

{% endblock %}
