<footer>
	<div class="footer">
		<link rel="stylesheet" href="{{ asset('css/footer.css') }}">


		<a href="">Mentions légales</a>


		<a href="">
			<i class="far fa-copyright"></i>Laurent FONTAINE</a>


		<a href="">Suivez-nous<i class="fab fa-facebook"></i>
		</a>


	</div>


</footer>
